    p{
        font-family: Arial;
        margin-top: 0;
        margin-bottom: 0;
    }

    .title{
        margin-top: 14px;
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 4px;
    }

    .noti{
        color:red;
        font-style: italic;
        font-size: 18px;

    }
